html, body{
    padding:0px;
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin-left:20px;
}

iframe{
    margin:20px;
}

.menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:peru;
}

.menu nav{
    padding:10px;
}

.menu nav a{
    color:black;
    text-decoration: none;
}

.menu nav a:hover{
    text-decoration:underline;
}

.logo{
    height:45px;
}